<head>
  <title>{{site.title}}</title>
  <meta charset="utf-8">
  <link href="/assets/style/main.css" type="text/css" rel="stylesheet">
  <link href="/assets/style/highlight.css" type="text/css" rel="stylesheet">
  <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/images/favicon-animated.ico" type="image/x-icon">
  <meta content="{{site.description}}" name="description">
  <meta content="{{site.owner}}" name="author">
  <meta content="Copyright {{site.time | date: '%Y'}} {{site.owner}}. All rights reserved." name="copyright">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
